body {
    background-color: #efefef;
    margin: 0;
    padding: 10vmin;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a { 
    color: inherit;
    text-decoration:none;
} 

.hello-box{
    width: 90vmin;
    background-color: #3b3b3a;
    padding: 5vmin;
    border-radius: 5vmin;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello-box__hello{
    font-size: 4.7vmin;
    margin-bottom: 4vmin;
}

.hello-box__discreption{
    opacity: 0.5;
}

.bownload,
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vmin;
}


.bownload__client-download,
.bownload__server-download,
.link__forum,
.link__tech{
    width: 50vmin;
    height: 10vmin;
    border-radius: 2vmin;
    background-color: #3b3b3a;
    opacity: 0.7;
    margin-top: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1000ms ease-in-out;
    font-size: 2.5vmin;
}
.bownload__client-download,
.link__forum{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bownload__server-download,
.link__tech{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bownload__client-download:hover,
.bownload__server-download:hover,
.link__tech:hover,
.link__forum:hover{
    border-radius: 2vmin;
    width: 100vmin;
    opacity: 0.8;
}


.disappear {
    width: 0;
    transform: rotateZ(360deg);
    opacity: 0;
    border-radius: 4vmin;
    color: rgba(0, 0, 0, 0);
}

.copyright{
    color: #3b3b3a;
    font-size: 3vmin;
    font-weight: bold;
    opacity: 0.4;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vmin;
    padding: 5vmin;
    margin: 4vmin 0;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 2vmin;
    transition: all 1s ease-in-out;
}

@keyframes sparkle {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.3;
    }
}



.github{
    color: #3b3b3a;
    font-size: 3vmin;
    font-weight: bold;
    opacity: 0.4; 
    margin-bottom: 2vmin;
    animation: sparkle 2s infinite;
    transition: all 600ms ease-in-out;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.github:hover{
    border-bottom: 3px solid #3b3b3a;
    padding-bottom: 1.5vmin;
    animation:none;
}

.email{
    color: #3b3b3a;
    font-size: 3vmin;
    font-weight: bold;
    opacity: 0.4; 
}
