<!DOCTYPE html>
<html lang="en">

<head>
    <title>clomia Network 포럼</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/clomia/Chatting-Space/master/img/favicon-red.ico"
        type="image/x-icon">
    <link rel="stylesheet" href="forum.css">
</head>

<body>
    <div class="header">
        <div class="hello">이곳은 포럼입니다</div>
        <div class="input-open-btn">
            글쓰기
        </div>
    </div>
    <form class="text-input display-none" name="textInputForm" action="/forum" method="POST">
        <div class="text-input__main">
            <textarea class="text-input-box" name='text' placeholder="이곳에 글을 입력해주세요" required></textarea>
            <input type="password" class="text-input-password" name="password" placeholder="비밀번호" required />
            <button type="submit" class="text-input-submit">등록</button>
        </div>
    </form>
    <!--text-box 시작점-->

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:19:51</div>
        <div class="text-box__main">
            <p>안녕</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:51</div>
        <div class="text-box__main">
            <p>rqawefasdasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:57</div>
        <div class="text-box__main">
            <p>asfasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:23:08</div>
        <div class="text-box__main">
            <p>아ㅏㅏㅏㅏㅇㅇㅇㅇㅇ</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:23:23</div>
        <div class="text-box__main">
            <p>복사다ㅏㅏㅏㅏㅏㅏㅏㅏ</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:19:51</div>
        <div class="text-box__main">
            <p>안녕</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:51</div>
        <div class="text-box__main">
            <p>rqawefasdasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:57</div>
        <div class="text-box__main">
            <p>asfasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:23:08</div>
        <div class="text-box__main">
            <p>아ㅏㅏㅏㅏㅇㅇㅇㅇㅇ</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:19:51</div>
        <div class="text-box__main">
            <p>안녕</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:51</div>
        <div class="text-box__main">
            <p>rqawefasdasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:57</div>
        <div class="text-box__main">
            <p>asfasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:19:51</div>
        <div class="text-box__main">
            <p>안녕</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>

    <div class="text-box">
        <div class="text-box__id">2021년 03월 04일 16:22:51</div>
        <div class="text-box__main">
            <p>rqawefasdasdf</p>
        </div>
        <button type="submit" class="del-btn">
            삭제
        </button>
        <form name="delForm" class="del-form display-none" action="/forum" method="post">
            <input type="text" class="delForm__id" name="text_id" placeholder="   글 아이디" />
            <input type="password" class="delForm__password" name="password" placeholder="   비밀번호" />
            <button type="submit" class="del-btn">
                삭제
            </button>
        </form>
    </div>
    <script src="forum.js"></script>


</body>

</html>