<!doctype html>
<html>

<head>
    <title>Clomia Network</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/clomia/Chatting-Space/master/img/favicon-red.ico"
        type="image/x-icon">
    <link rel="stylesheet" href="intro.css">
</head>

<body>
    <div class="hello-box">
        <div class="hello-box__hello">Clomia Network에 오신것을 환영합니다</div>
        <div class="hello-box__discreption">전용 소프트웨어로 통신망을 이용할 수 있습니다</div>
    </div>
    <div class="bownload">
        <a href="#" target="_blank">
            <div class="bownload__client-download">클라이언트 다운로드</div>
        </a>
        <a href="https://www.notion.so/43665ddb63a9437db1f1a56aa94236e0" target="_blank">
            <div class="bownload__server-download">서버 다운로드</div>
        </a>
    </div>
    <div class="link">
        <a href="/forum">
            <div class="link__forum">포럼 이동하기</div>
        </a>
        <a href="/docs">
            <div class="link__tech">문서 보기</div>
        </a>
    </div>
    <div class="info">
        <a href="https://github.com/clomia/Clomia-Network" target="_blank">
            <div class="github">Go to GitHub Repository</div>
        </a>
        <div class="email">Email: clomia.sig@gmail.com</div>
    </div>
    <div class="copyright">Copyright 2021. 원정후 all rights reserved</div>
</body>

</html>